@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/*
  25 lines of css is all you need (to start with, anyway) - Kevin Powell
  https://www.youtube.com/shorts/ydGti7sLVOc
*/

img,
picture,
svg {
  max-width: 100%;
  overflow: block;
}

html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.6;
}
